{
  "env": {
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "plugins": [
    "import",
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-var": "error",
    "prefer-const": "error",
    "prettier/prettier": "warn",
    "@typescript-eslint/no-use-before-define": "error",
    "import/order": ["warn", {
      "newlines-between": "always",
      "groups": ["builtin", "external", "internal", "parent", "sibling"],
      "pathGroups": [
        {
          "pattern": "@/**",
          "group": "internal"
        }
      ]
    }]
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {}
    }
  ],
  "settings": {
    "node": {
      "moduleDirectory": ["node_modules", "src/"]
    },
    "import/ignore": ["node_modules"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["@/*", "./src"]
        ],
        "extensions": [".js", ".ts", ".json"]
      },
      "typescript": {
        "alwaysTryTypes": false,
        "project": "./tsconfig.json"
      }
    }
  }
}
